In [1]:
import pandas as pd
import numpy as np

!pwd

/home/afroroboticist/flaskProjectSpace/movieRecommender/movieRecommender

In [2]:
movie_data = pd.read_csv('static/movies_metadata.csv')
ratings = pd.read_csv('static/ratings_small.csv')
links = pd.read_csv('static/links_small.csv')
display(movie_data.head())

/home/afroroboticist/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [3]:
movie_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [21]:
movie_data['production_countries'].isna().value_counts()

False    45463
True         3
Name: production_countries, dtype: int64

In [23]:
movie_data['production_countries'].fillna(method='ffill', inplace=True)
movie_data['production_countries'].isna().value_counts()

False    45466
Name: production_countries, dtype: int64

In [14]:
print(movie_data['production_countries'].iloc[2680][17:19])

US

In [27]:
movie_data['country'] = movie_data['production_countries'].apply(lambda X: X[17:19])
movie_data.drop(columns='production_countries', inplace=True)

In [28]:
movie_data['country'].value_counts()

US    18426
       6286
GB     3070
FR     2705
CA     1498
      ...
GT        1
PY        1
UM        1
TZ        1
ME        1
Name: country, Length: 144, dtype: int64

In [31]:
movie_data['spoken_languages'].fillna(method='ffill',inplace=True)
movie_data['spoken_languages'].isna().value_counts()

False    45466
Name: spoken_languages, dtype: int64

In [72]:
movie_data['genres'].isna().value_counts()

False    45466
Name: genres, dtype: int64

In [69]:
import re
genre_list

"[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]"

In [70]:
pattern = 'name\': \'[a-zA-Z]+\''
text = "[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"
found = re.findall(pattern, genre_list)
print(found[0][8:-1])

Adventure

In [79]:
all_genres=[]
def prune_genre(data):
    genre_list=[]
    pattern = 'name\': \'[a-zA-Z]+\''
    found = re.findall(pattern, data)
    if found:
        for i in range(len(found)):
            genre_list.append(found[i][8:-1])
            if found[i][8:-1] not in all_genres:
                all_genres.append(found[i][8:-1])
    else:
        return []
    return genre_list

In [80]:
movie_data['genre_list'] = movie_data['genres'].apply(prune_genre)

In [81]:
movie_data['genre_list'].head()

0     [Animation, Comedy, Family]
1    [Adventure, Fantasy, Family]
2               [Romance, Comedy]
3        [Comedy, Drama, Romance]
4                        [Comedy]
Name: genre_list, dtype: object

In [82]:
# Extract total genre list from genre_list
all_genres

['Animation',
 'Comedy',
 'Family',
 'Adventure',
 'Fantasy',
 'Romance',
 'Drama',
 'Action',
 'Crime',
 'Thriller',
 'Horror',
 'History',
 'Mystery',
 'War',
 'Foreign',
 'Music',
 'Documentary',
 'Western',
 'Aniplex',
 'GoHands']

In [92]:
for genre in all_genres:
    movie_data[genre] = 0

In [93]:
pd.options.display.max_rows = 100
pd.options.display.max_columns = 100

In [109]:
movie_data['id'].nunique()

45436

In [97]:
for i in range(len(movie_data['genre_list'])):
    current_genre_list = movie_data.loc[i,'genre_list']
    for item in current_genre_list:
        movie_data.loc[i,item] = 1

In [103]:
movie_data['adult'].value_counts()

False                                                                                                                             45454
True                                                                                                                                  9
 Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.                        1
 Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.        1
 - Written by Ørnås                                                                                                                   1
Name: adult, dtype: int64

In [107]:
condition = (movie_data['adult'] != 'True') & (movie_data['adult'] != 'False')
movie_data.loc[condition, 'adult'] = 'False'

In [108]:
movie_data['adult'].value_counts()

False    45457
True         9
Name: adult, dtype: int64

In [115]:
# Generate a more reasonable vote score that accounts for actual number of votes. Borrowing the weighted vote score from IMDB

mean_vote = movie_data['vote_average'].mean()
movie_data['vote_count'].quantile(0.85)

82.0

movie_data['country'] = movie_data['production_countries'].apply(lambda X: X[17:19])