In [156]:
import pandas as pd
import numpy as np

!pwd

/home/afroroboticist/flaskProjectSpace/movieRecommender/movieRecommender

In [157]:
movie_data = pd.read_csv('static/movies_metadata.csv')
ratings = pd.read_csv('static/ratings_small.csv')
links = pd.read_csv('static/links_small.csv')
display(movie_data.head())

/home/afroroboticist/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.85949,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.38752,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [158]:
movie_data['vote_average'].isna().value_counts()

False    45460
True         6
Name: vote_average, dtype: int64

In [159]:
movie_data['vote_count'].fillna(value=movie_data['vote_count'].mean(), inplace=True)
movie_data['vote_count'].isna().value_counts()
movie_data['vote_average'].fillna(value=movie_data['vote_average'].mean(), inplace=True)
movie_data['vote_count'].isna().value_counts()

False    45466
Name: vote_count, dtype: int64

In [160]:
movie_data['production_countries'].isna().value_counts()

False    45463
True         3
Name: production_countries, dtype: int64

In [161]:
movie_data['production_countries'].fillna(method='ffill', inplace=True)
movie_data['production_countries'].isna().value_counts()

False    45466
Name: production_countries, dtype: int64

In [162]:
print(movie_data['production_countries'].iloc[2680][17:19])

US

In [163]:
movie_data['country'] = movie_data['production_countries'].apply(lambda X: X[17:19])
movie_data.drop(columns='production_countries', inplace=True)

In [164]:
movie_data['country'].value_counts()

US    18426
       6286
GB     3070
FR     2705
CA     1498
      ...
GT        1
PY        1
UM        1
TZ        1
ME        1
Name: country, Length: 144, dtype: int64

In [165]:
movie_data['spoken_languages'].fillna(method='ffill',inplace=True)
movie_data['spoken_languages'].isna().value_counts()

False    45466
Name: spoken_languages, dtype: int64

In [166]:
movie_data['genres'].isna().value_counts()

False    45466
Name: genres, dtype: int64

In [167]:
import re
genre_list

"[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]"

In [168]:
pattern = 'name\': \'[a-zA-Z]+\''
text = "[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"
found = re.findall(pattern, genre_list)
print(found[0][8:-1])

Adventure

In [169]:
all_genres=[]
def prune_genre(data):
    genre_list=[]
    pattern = 'name\': \'[a-zA-Z]+\''
    found = re.findall(pattern, data)
    if found:
        for i in range(len(found)):
            genre_list.append(found[i][8:-1])
            if found[i][8:-1] not in all_genres:
                all_genres.append(found[i][8:-1])
    else:
        return []
    return genre_list

In [170]:
movie_data['genre_list'] = movie_data['genres'].apply(prune_genre)

In [171]:
movie_data['genre_list'].head()

0     [Animation, Comedy, Family]
1    [Adventure, Fantasy, Family]
2               [Romance, Comedy]
3        [Comedy, Drama, Romance]
4                        [Comedy]
Name: genre_list, dtype: object

In [172]:
# Extract total genre list from genre_list
all_genres

['Animation',
 'Comedy',
 'Family',
 'Adventure',
 'Fantasy',
 'Romance',
 'Drama',
 'Action',
 'Crime',
 'Thriller',
 'Horror',
 'History',
 'Mystery',
 'War',
 'Foreign',
 'Music',
 'Documentary',
 'Western',
 'Aniplex',
 'GoHands']

In [173]:
for genre in all_genres:
    movie_data[genre] = 0

In [174]:
pd.options.display.max_rows = 100
pd.options.display.max_columns = 100

In [175]:
movie_data['id'].nunique()

45436

In [176]:
for i in range(len(movie_data['genre_list'])):
    current_genre_list = movie_data.loc[i,'genre_list']
    for item in current_genre_list:
        movie_data.loc[i,item] = 1

In [177]:
movie_data['adult'].value_counts()

False                                                                                                                             45454
True                                                                                                                                  9
 Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.                        1
 Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.        1
 - Written by Ørnås                                                                                                                   1
Name: adult, dtype: int64

In [178]:
condition = (movie_data['adult'] != 'True') & (movie_data['adult'] != 'False')
movie_data.loc[condition, 'adult'] = 'False'

In [179]:
movie_data['adult'].value_counts()

False    45457
True         9
Name: adult, dtype: int64

In [180]:
# Generate a more reasonable vote score that accounts for actual number of votes. Borrowing the weighted vote score from IMDB

mean_vote = movie_data['vote_average'].mean()
chosen_quantile = movie_data['vote_count'].quantile(0.85)
print(mean_vote, chosen_quantile)

5.618207215133888 82.0

In [201]:
chosen_data = movie_data.copy().loc[movie_data['vote_count'] >= chosen_quantile]
assert len(chosen_data['vote_count']) == len(chosen_data['vote_average'])
chosen_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6838 entries, 0 to 45441
Data columns (total 45 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  6838 non-null   object
 1   belongs_to_collection  1661 non-null   object
 2   budget                 6838 non-null   object
 3   genres                 6838 non-null   object
 4   homepage               2331 non-null   object
 5   id                     6838 non-null   object
 6   imdb_id                6838 non-null   object
 7   original_language      6838 non-null   object
 8   original_title         6838 non-null   object
 9   overview               6820 non-null   object
 10  popularity             6833 non-null   object
 11  poster_path            6835 non-null   object
 12  production_companies   6835 non-null   object
 13  release_date           6834 non-null   object
 14  revenue                6832 non-null   float64
 15  runtime                6832 non-null   float64
 16  spoken_languages       6838 non-null   object
 17  status                 6831 non-null   object
 18  tagline                5704 non-null   object
 19  title                  6832 non-null   object
 20  video                  6832 non-null   object
 21  vote_average           6838 non-null   float64
 22  vote_count             6838 non-null   float64
 23  country                6838 non-null   object
 24  genre_list             6838 non-null   object
 25  Animation              6838 non-null   int64
 26  Comedy                 6838 non-null   int64
 27  Family                 6838 non-null   int64
 28  Adventure              6838 non-null   int64
 29  Fantasy                6838 non-null   int64
 30  Romance                6838 non-null   int64
 31  Drama                  6838 non-null   int64
 32  Action                 6838 non-null   int64
 33  Crime                  6838 non-null   int64
 34  Thriller               6838 non-null   int64
 35  Horror                 6838 non-null   int64
 36  History                6838 non-null   int64
 37  Mystery                6838 non-null   int64
 38  War                    6838 non-null   int64
 39  Foreign                6838 non-null   int64
 40  Music                  6838 non-null   int64
 41  Documentary            6838 non-null   int64
 42  Western                6838 non-null   int64
 43  Aniplex                6838 non-null   int64
 44  GoHands                6838 non-null   int64
dtypes: float64(4), int64(20), object(21)
memory usage: 2.4+ MB

In [202]:
# Create a weighted rating using IMDB formula for weighted rating (v/(v+m) * R) + (m/(m+v) * C)
def weighted_rating(data, m=chosen_quantile, C=mean_vote):
    v = data['vote_count']
    R = data['vote_average']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [213]:
chosen_data['score'] = chosen_data.apply(weighted_rating, axis=1)
chosen_data['id'].value_counts()

15028     2
265189    2
152795    2
10991     2
4912      2
         ..
9927      1
293768    1
44040     1
83686     1
8452      1
Name: id, Length: 6831, dtype: int64

In [228]:
condition = (chosen_data['id'] == '1997-08-20')
chosen_data.loc[condition]
chosen_data.drop(index=19730, inplace=True)

KeyError: '[19730] not found in axis'

In [230]:
print(len(chosen_data))
chosen_data.drop_duplicates(subset=['id'], inplace=True)
print(len(chosen_data))

6830
6830